:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --white-color: #FFFFFF;
    --blue-color: #2196F3; 
    --main-background-color: #FFFFFF;
    --secondary-background-color: #F5F4FA;
    --footer-color: #2F303A;
    --borders-color: #AFB1B8;
    --time: cubic-bezier(0.4, 0, 0.2, 1)
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--primary-text-color);
    background-color: var(--main-background-color);
}

button {
    cursor: pointer;
    font-family: inherit;
    border: none;
    border-radius: 4px;
}

.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
 
/*-------Header---*/ 

.header {
    border-bottom: 1px solid #ECECEC;
}

.header__container {
    display: flex;
}

.nav,
.nav__list {
    display: flex;
    align-items: center;
    margin-right: auto;
}


.logo {
    display: block;
    font-family: 'Raleway', sans-serif;
    color: var(--blue-color);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.header__logo {
    margin-right: 93px;
}
.logo__txt {
    color: var(--primary-text-color);
}

.nav__item:not(:last-child) {
    margin-right: 50px;
    margin-left: 0px;
}

.nav__link {
    display: block;
    position: relative;
    padding: 32px 0 32px 0;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-txt-color);
    transition: color 250ms var(--time);
}

.nav__link:hover,
.nav__link:focus,
.header__contacts-link:hover,
.header__contacts-link:focus {
    color: var(--blue-color);
}
.nav__link.nav__link--current::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #188CE8;
}

.contacts-list {
    /* display: flex;
    align-items: center; */
}

.header__contacts-link {
    display: flex;
    align-items: center;
    color: var(--secondary-text-color);
    gap: 10px;
    padding: 32px 0px 32px;
    transition: color 250ms var(--time);
}

.header__contacts-list {
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    gap: 30px;
    margin-left: auto;
}

.header__contacts-icon {
    fill: currentColor;
}

.nav__link--current {
    color: var(--blue-color);
}

/*----Studio styles---*/

.hero {
    background-color: var(--footer-color);
    color: var(--white-color);
    display: block;
    max-width: 1600px;
    padding: 200px 0px 200px;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)), 
                url(../images/bckg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 30px;
    width: 696px;
    flex-grow: 1;
}

.button {
    display: block;
    background-color: var(--blue-color);
    color: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    border-radius: 4px;
    min-width: 200px;
    padding: 10px 24px;

}
.hero__button {
    margin: 0 auto;

    transition: background-color 250ms var(--time), box-shadow 250ms var(--time);
}

.hero__button:hover,
.hero__button:focus {
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.features{
    padding: 94px 0;
}

.features__list {
    display: flex;
    gap: 30px;
}

.features__title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-bottom: 10px;
}

.features__subtitle {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}


.features__item {
    display: block;
    max-width: 270px;
}

.atenna-svg::before {
    content: " ";
    display: block;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--secondary-background-color);
    background-image: url(../images/antenna.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px 70px;

}

.clock-svg::before {
    content: " ";
    display: block;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--secondary-background-color);
    background-image: url(../images/clock.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px 70px;

}

.diagram-svg::before {
    content: " ";
    display: block;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--secondary-background-color);
    background-image: url(../images/diagram.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70px 70px;
}

.astronaut-svg::before {
    content: " ";
    display: block;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--secondary-background-color);
    background-image: url(../images/astronaut.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70px 70px;
}
.about {
    padding-bottom: 94px;
    align-items: center;
}

.secondary-title {
    font-style: normal;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    padding-top: 0;
}

.about__list {
    display: flex;
    gap: 30px;
}

.about__item {
    position: relative;
}

.about__txt {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%; 
    height: 70px;
    font-weight: 700;
    line-height: 1.172;
    text-transform: uppercase;
    color: var(--white-color);
    background-color:rgba(47, 48, 58, 0.8);
}

.team {
    padding: 94px 0;
    background-color: var(--secondary-background-color);
}

.team__list {
    display: flex;
    gap: 30px;
}

.team__item {
    background-color: var(--main-background-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}


.team__box {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.26;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 10px;
}

.team__subtitle {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-bottom: 16px;
}

.socials-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.socials-list__item {
    width: 44px;
    height: 44px;
}

.socials-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    fill: var(--borders-color); 

    transition: background-color 250ms var(--time), fill 250ms var(--time);
}

.socials-list__link:hover, 
.socials-list__link:focus {
    background-color: #188CE8;
    fill: #EEEEEE;
}


/*-------Clients section----*/

.clients {
    align-items: center;
    padding: 94px 0;
}


.clients__list {
    display: flex;
    gap: 30px;
}

.clients__item {
    width: calc((100% - 150px) / 6);
    height: 92px;
}
.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: var(--borders-color);

    transition: color 250ms var(--time);
}

.clients__icon {
    fill: currentColor;
}

.clients__link:hover,
.clients__link:focus {
    color: var(--blue-color);
    border-color: var(--blue-color);
}


/*------Footer----*/

.footer {
    background-color: var(--footer-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__logo {
    margin-bottom: 20px;
}

.footer__logo--white {
    color: var(--white-color);
}

.address-box {
    margin-right: 93px;
}

.address-not__item:not(:last-child) {
    margin-bottom: 9px;
}

.address-box__link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-color);

    transition: color 250ms var(--time);
}


.address-box__link:hover,
.address-box__link:focus {
    color: var(--blue-color);
}

.address-box__link--alpha {
    color: rgba(255, 255, 255, 0.6);
}

.address-box__link--alpha:hover,
.address-box__link--alpha:focus {
    color: var(--blue-color);
}

.footer__wrapper {
    display: flex;
    align-items: baseline;
}


.social-box__txt {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 20px;
}

.socials-list__link--grey {
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms var(--time);
}

.socials-list__link--grey:hover,
.socials-list__link--grey:focus {
    color: var(--main-background-color);
    background-color: var(--blue-color);
}

.socials-list__icon--white {
    fill: var(--main-background-color)
}

.subscribe-box {
    margin-left: 93px;
}  

.subscribe-box__txt {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 20px;
}

.subscribe-box__form {
    display: flex;
    justify-content: baseline;

}


.subscribe-box__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: transparent;
    color: var(--white-color);
    outline: none;
    border-radius: 4px;
    padding: 0 16px 0 16px;
    margin-right: 12px;

}

.subscribe-box__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.subscribe-box__button {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-transform: capitalize;
    color: var(--white-color);
    background-color: var(--blue-color);
    transition: background-color 250ms var(--time), box-shadow 250ms var(--time);
}

.subscribe-box__button:hover,
.subscribe-box__button:focus {
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-box__icon {
    fill: var(--white-color);
    margin-left: 10px;
}


/*--Portfolio styles--*/

.portfolio {
    background-color: var(--main-background-color);
    padding-top: 100px;
    padding-bottom: 94px;
}

.btns__btn {
    padding: 6px 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    border-color: transparent;
    border-radius: 4px;
    color: var(--primary-text-color);
    background-color: var(--secondary-background-color);
    transition: color 250ms var(--time), background-color 250ms var(--time),
            box-shadow 250ms var(--time)
}

.btns {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.btns__btn:hover,
.btns__btn:focus {
    background-color: var(--blue-color);
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.products__item {
    background-color: var(--main-background-color);
    border: 1px solid #EEEEEE;
    width: calc((100% - 2*30px) / 3);
}

.products__link {
    display: block;
    transition: box-shadow 250ms var(--time);
}

.products__link:hover,
.products__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay {
    position: relative;
    overflow: hidden;
}

.overlay__txt {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms var(--time);
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.55;
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--white-color);
}

.products__link:hover .overlay__txt,
.products__link:focus .overlay__txt {
    transform: translateY(0);
}
.products {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.products__title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
    margin-top: 0;
    margin-bottom: 4px;
    display: block;
}

.products__subtitle {
    display: block;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-bottom: 0;
}

.products__box{
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
    display: block;
}


/*---modal---*/ 

.backdrop {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms var(--time), visibility 250ms var(--time);
    
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.modal-container {
    position: relative;
    width: 100%;
    max-width: 528px;
    height: 100%;
    max-height: 581px;
    padding: 40px;
    overflow-y: auto;

    scale: (1);
    background-color: var(--white-color);
}


.close-btn-modal {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    color: var(--primary-text-color);
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;

    transition: border-color 250ms var(--time), color 250ms var(--time);       
}

.close-btn-modal:hover,
.close-btn-modal:focus {
    color: var(--blue-color);
    border-color: var(--blue-color);
}

.close-icon{
    fill: currentColor;
}
.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
    
}

.modal-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.66;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
    margin-bottom: 4px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 0 12px 0 42px;
    outline: none;
}

.modal-input:focus {
    border-color: var(--blue-color);
}
.modal-input:focus + .input-icon{
    fill: var(--blue-color);
}
.form-field {
    position: relative;
    margin-bottom: 10px;
}
.input-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.form-comment {
    
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    outline: none;
    margin-bottom: 20px;
}
.form-comment:focus {
    border-color: var(--blue-color);
}
.form-comment::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.66;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.checkbox-container{
    margin-bottom: 30px;

}
.checkbox {
    display: flex;
}
.form-checkbox-label {
    color: var(--secondary-text-color);
    
}

.form-checkbox {
    appearance: none;
}
.checkbox-icon {
    fill: transparent;
    border: 2px solid var(--primary-text-color);
    border-radius: 4px;
    margin-right: 8px;
    margin-left: 10px;;
    
    transition: fill 250ms var(--time), background-color 250ms var(--time), border-color 250ms var(--time);
}

.form-checkbox:checked + .checkbox-icon {
    fill: var(--white-color);
    background-color: var(--blue-color);
    border-color: var(--blue-color);

}
.terms-link{
    text-decoration: underline;
    color: var(--blue-color);
}

.form-submit {
    display: block;
    width: 200px;
    height: 50px;
    padding: 10px 52px;
    margin: 0 auto;
    color: var(--white-color);
    background-color: var(--blue-color);
    border-radius: 4px;

    transition: background-color 250ms var(--time), box-shadow 250ms var(--time);
}

.form-submit:hover,
.form-submit:focus {
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
}


